<!DOCTYPE html>
<html>
<head>
    <title>Clicker Game</title>
</head>
<body>
    <nav>
        <div>
            <span>Clicker System</span>
            <div>
                <a href="/auth/logout">Wyloguj</a>
            </div>
        </div>
    </nav>
    <div>
        <%- body %>
    </div>
</body>
</html>